<div class="container-fluid">

    <div class="row bg-secondary d-flex align-items-center">
        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-white">
                    <h1 class="fs-54">Seja Bem Vindo(a)</h1>
                    <h5 class="fs-18">expresse aqui os seus pensamentos e opniões</h5>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                   <button class="btn btn-light mr-2">Nova Postagem</button>
                   <a class="btn btn-outline-light" href="">Ver Postagem</a>

                </div>

            </div>
        </div>

       <div class="col-md-6  d-flex justify-content-center mt-3 mb-5">
        <img src="https://imgur.com/7x9SUNY.png" alt="" width="500px" height="500px">



       </div>
    </div>



</div>
